      <button class="btn btn-lg btn-primary">辅助定位</button><br/>
      <%= link_to "小脑萎缩", "#feature82"%><br/>
      <%= link_to "脑干萎缩", "#feature83"%><br/>
      <%= link_to "大脑皮层萎缩", "#feature84"%><br/>
      <%= link_to "白质异常", "#feature85"%><br/>
      <%= link_to "甲状腺功能指标", "#feature86"%><br/>
      <%= link_to "电解质", "#feature87"%><br/>
      <%= link_to "血脂相关指标", "#feature88"%><br/>
      <%= link_to "膀胱残余尿量", "#feature89"%><br/>
      <%= link_to "铜蓝蛋白", "#feature90"%><br/>
      <%= link_to "其它指标", "#feature91"%><br/>
      <%= link_to "补充说明", "#feature92"%><br/>
      <%= link_to "拟诊", "#feature93"%><br/>
      <%= link_to "医嘱", "#feature94"%><br/>
