<button class="btn btn-lg btn-primary">辅助定位</button><br/>
      <%= link_to "体重下降", "#feature1"%><br/>
      <%= link_to "行走不稳", "#feature2"%><br/>
      <%= link_to "言语不清", "#feature3"%><br/>
      <%= link_to "持物不稳", "#feature4"%><br/>
      <%= link_to "饮水呛咳", "#feature5"%><br/>
      <%= link_to "吞咽困难", "#feature6"%><br/>
      <%= link_to "视物模糊", "#feature7"%><br/>
      <%= link_to "头晕", "#feature8"%><br/>
      <%= link_to "晕厥", "#feature9"%><br/>
      <%= link_to "动作慢", "#feature10"%><br/>
      <%= link_to "一侧肢体不灵活", "#feature11"%><br/>
      <%= link_to "震颤", "#feature12"%><br/>
      <%= link_to "下肢无力", "#feature13"%><br/>
      <%= link_to "乏力", "#feature14"%><br/>
      <%= link_to "尿频急", "#feature15"%><br/>
      <%= link_to "尿不净", "#feature16"%><br/>
      <%= link_to "夜尿增多", "#feature17"%><br/>
      <%= link_to "排便障碍", "#feature18"%><br/>
      <%= link_to "性功能减退", "#feature19"%><br/>
      <%= link_to "手脚冰凉", "#feature20"%><br/>
      <%= link_to "排汗异常", "#feature21"%><br/>
      <%= link_to "梦中喊叫", "#feature22"%><br/>
      <%= link_to "梦中肢体活动", "#feature23"%><br/>
      <%= link_to "坠床", "#feature24"%><br/>
      <%= link_to "打鼾", "#feature25"%><br/>
      <%= link_to "睡眠呼吸暂停", "#feature26"%><br/>
      <%= link_to "喉鸣", "#feature27"%><br/>
      <%= link_to "强哭/强笑", "#feature28"%><br/>
      <%= link_to "记忆减退", "#feature29"%><br/>
      <%= link_to "血压低", "#feature30"%><br/>
      <%= link_to "补充说明", "#feature31"%><br/>
