<h2>输入病人病历</h2>
<%= render :partial => "shared/error_messages", :locals => {:var => @patient }%>
<%= form_for @patient, url: patients_path do |f|%>
  <%= render :partial => "form", :locals => {:f => f}%>
  <%= f.submit "创建病历", class: "btn btn-primary"%>
<% end %>

<% content_for :side_bar do %>
<%= render "shared/sidebar" %>
<% end %>
