<button class="btn btn-lg btn-primary">辅助定位</button><br/>
      <%= link_to "不明原因发热", "#feature32"%><br/>
      <%= link_to "甲状腺功能异常", "#feature33"%><br/>
      <%= link_to "高血压", "#feature34"%><br/>
      <%= link_to "冠心病", "#feature35"%><br/>
      <%= link_to "糖尿病", "#feature36"%><br/>
      <%= link_to "CO中毒史", "#feature37"%><br/>
      <%= link_to "月经", "#feature38"%><br/>
      <%= link_to "头部外伤史", "#feature39"%><br/>
      <%= link_to "美多芭", "#feature41"%><br/>
      <%= link_to "米多君", "#feature42"%><br/>
      <%= link_to "其它西药", "#feature43"%><br/>
      <%= link_to "中药", "#feature44"%><br/>
      <%= link_to "与患者非常接近的表型", "#feature46"%><br/>
      <%= link_to "帕金森病", "#feature47"%><br/>
      <%= link_to "共济失调", "#feature48"%><br/>
      <%= link_to "睡眠行为障碍", "#feature49"%><br/>
      <%= link_to "低血压", "#feature50"%><br/>
      <%= link_to "认知障碍", "#feature51"%><br/>
      <%= link_to "其它 ", "#feature52"%><br/>
      <%= link_to "饮酒史", "#feature54"%><br/>
      <%= link_to "吸烟史", "#feature55"%><br/>
      <%= link_to "农药接触史", "#feature56"%><br/>
      <%= link_to "有毒化学物接触史", "#feature57"%><br/>
      <%= link_to "缺氧地区生活史", "#feature58"%><br/>
