<% content_for :side_bar do %>
<h2>创建医生账号</h2>
<%= form_for @doctor, url: doctors_path do |f|%>
  <div class="form-group">
  <%= f.label :name, "姓名"%>
  <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
  <%= f.label :email, "邮箱"%>
  <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :password, "密码"%>
  <%= f.password_field :password , class: "form-control"%>
  <%= f.label :password_confirmation, "再次输入密码"%>
  <%= f.password_field :passwod_confirmation , class: "form-control"%>
  </div>
  <%= f.submit "创建账户", class: "btn btn-primary"%>
<% end %>
<% end %>
