<button class="btn btn-lg btn-primary">辅助定位</button><br/>
      <%= link_to "智能检查", "#feature59"%><br/>
      <%= link_to "构音障碍", "#feature60"%><br/>
      <%= link_to "喘鸣", "#feature61"%><br/>
      <%= link_to "眼震", "#feature62"%><br/>
      <%= link_to "眼动", "#feature63"%><br/>
      <%= link_to "肌容积", "#feature64"%><br/>
      <%= link_to "四肢肌力", "#feature65"%><br/>
      <%= link_to "肌张力", "#feature66"%><br/>
      <%= link_to "腱反射", "#feature67"%><br/>
      <%= link_to "Babinshki", "#feature68"%><br/>
      <%= link_to "Hoffman", "#feature69"%><br/>
      <%= link_to "指鼻试验", "#feature70"%><br/>
      <%= link_to "跟膝胫试验", "#feature71"%><br/>
      <%= link_to "轮替动作", "#feature72"%><br/>
      <%= link_to "自然步态", "#feature73"%><br/>
      <%= link_to "串联步态", "#feature74"%><br/>
      <%= link_to "并足站立", "#feature75"%><br/>
      <%= link_to "姿势反射", "#feature76"%><br/>
      <%= link_to "前屈姿势", "#feature77"%><br/>
      <%= link_to "卧位血压", "#feature78"%><br/>
      <%= link_to "坐位血压", "#feature79"%><br/>
      <%= link_to "站位血压", "#feature80"%><br/>
      <%= link_to "补充说明", "#feature81"%><br/>
